@charset "UTF-8";
header .localisation {
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(203, 203, 203);
}
header .localisation i {
  width: 12px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-right: 15px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
}

h4 {
  font-family: "Shrikhand", sans-serif;
  padding-top: 20px;
  margin-top: 0%;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

a {
  font-style: normal;
  text-decoration: none;
  color: black;
}

.btn { /* corriger dégradé*/
  display: flex;
  padding: 15px;
  border-radius: 25px;
  color: white;
  background-color: rgb(147, 86, 220);
  /*background: linear-gradient(to bottom, #FF79DA, #9356DC)*/
  width: 50%;
  min-width: 218px;
  justify-content: center;
}

.reserver {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  padding: 50px;
}
.reserver p {
  padding-bottom: 15px;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}
.fonctionnement p {
  position: absolute;
  color: #FFFFFF;
  background-color: rgb(147, 86, 220);
  height: 22px;
  width: 16px;
  border-radius: 25px;
  padding-left: 8px;
  padding-top: 2px;
}
.fonctionnement article {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 30px;
  margin-left: 15px;
}
.fonctionnement article i {
  padding-right: 15px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: rgb(234, 234, 234);
}
.restaurants .card {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px;
  gap: 4px;
  width: 100%;
  height: 251px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.restaurants .card .card-sum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .card img {
  height: 75%;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.restaurants .card h3 {
  margin: 0;
  font-weight: 900;
  padding-left: 10px;
}
.restaurants .card p {
  margin: 2px;
  padding-left: 10px;
}
.restaurants .card .heart-icon {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-right: 16px;
  transition: transform 400ms;
}
.restaurants .card .heart-icon:hover {
  color: rgb(147, 86, 220);
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.menu .nom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu .repas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
.menu .repas h2 {
  font-weight: 100;
}
.menu .card {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  padding: 10px;
  justify-content: space-between;
}
.menu .card h3 {
  margin: 0px;
}
.menu .card p {
  margin: 3px;
}
.menu .card .prix {
  align-self: flex-end;
}
.menu .card:focus {
  background-color: aqua;
}

footer {
  color: #F7F7F7;
  background-color: #353535;
  padding-left: 15px;
  padding-bottom: 15px;
}

/* au dela de 768*//*# sourceMappingURL=style.css.map */